html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
  }
h1{
    font-size: 4.8rem;
    font-weight: bold;
    max-width: 100%;
    color: darkolivegreen;
    background-color: burlywood;
    height: 100px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
h2 {
    font-size: 3rem;
    font-weight: bold;
    max-width: 100%;
    color: maroon;
    background-color: #c1d8ac;
    height: 70px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
h3 {
    font-size: 2rem;
    font-weight: 600;
    max-width: 100%;
    color: sienna;
    background-color: tan;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.form {
    margin: 0 auto;
    padding: 10px;
    line-height: 3;
    width: 100%;
    display: flex;
    justify-content: center;
  }
.form-title {
    color: sienna;
    font-size: 1.6rem;
    font-weight: 600;
  }
#bday {
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
  }
#pname {
    margin: 90%;
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
  }
.number {
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
  }
.radio {
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10px;
}
#vets {
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
  }
#insurance {
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
  }
#gloomer {
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
  }
#hotel {
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
  }
#food {
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
  }
#weight {
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
  }
#memomeal {
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
  }
#memomedicine {
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
  }
#memopoop {
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
  }
#memopee {
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
  }
#memowalk {
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
  }
button {
  color: sienna;
  width: 600px;
  height: 60px;
  margin: 30px;
  padding: auto;
  background-color: powderblue;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  line-height: 60px;
  text-decoration-line: none;
}
button:hover{
    background-color: lavender;
    font-size: 2.0rem;
  }
.button {
    display: flex;
    justify-content: space-between;
  }
.submit {
    color: sienna;
    width: 300px;
    height: 60px;
    margin: 30px 10px;
    padding: auto;
    background-color: powderblue;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    line-height: 60px;
    text-decoration-line: none;
  }
.submit:hover{
    background-color: lavender;
    font-size: 2.0rem;
  }
.reset {
    color: sienna;
    width: 300px;
    height: 60px;
    margin: 30px 10px;
    padding: auto;
    background-color: powderblue;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    line-height: 60px;
    text-decoration-line: none;
  }
.reset:hover{
    background-color: lavender;
    font-size: 2.0rem;
  }
footer{
    font-size: 1.2rem;
    color: maroon;
    text-align: center;
    margin-top: 30px;
  }
